.selector-button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 8px 20px,
    rgba(0, 0, 0, 0.23) 0px 4px 6px;
}
.selector-button:hover {
  cursor: pointer;
}

.Complete {
  background-color: #10a170;
}

.Incomplete {
  background-color: #e61744;
}

.InProgress {
  background-color: #ffb700;
}
