services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    environment:
      - DISPLAY=:1
    depends_on:
      - db
    networks:
      - dev-network
    command: sleep infinity

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - dev-network

  file-storage:
    image: localstack/localstack:s3-latest
    restart: unless-stopped
    volumes:
      - './storage-scripts:/etc/localstack/init/ready.d'
      - 'file-data:/var/lib/localstack'
    ports:
      - '4566:4566'
    networks:
      - dev-network

volumes:
  postgres-data:
  file-data:

networks:
  dev-network:
