<mat-card appearance="raised">
  @if (editMode()) {
    <mat-card-content>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newTitle" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="newDescription"></textarea>
      </mat-form-field>
    </mat-card-content>

    @if (state.error()) {
      <p class="error">Failed to save task, try again</p>
    }

    <mat-card-actions>
      <button
        mat-mini-fab
        aria-label="save task"
        (click)="save()"
        [disabled]="
          newTitle() === state.value()?.title &&
          newDescription() === state.value()?.description
        ">
        <mat-icon>save</mat-icon>
      </button>
      <button
        mat-mini-fab
        aria-label="cancel edit"
        (click)="cancel()"
        [disabled]="state.error()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-actions>
  } @else {
    <mat-card-header>
      <mat-card-title>{{ state.value()?.title }}</mat-card-title>
      <app-status-menu [(status)]="newStatus" (changed)="state.refresh()" />
    </mat-card-header>

    <mat-card-content>
      <p>{{ state.value()?.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      @if (state.value()?.completedDate) {
        <p>Completed: {{ state.value()?.completedDate | date }}</p>
      }
      @if (deleteResource.error()) {
        <p class="error">Failed to delete task, try again</p>
      }
      <button mat-mini-fab aria-label="delete task" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-mini-fab
        aria-label="toggle edit mode"
        (click)="toggleEditMode()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  }
</mat-card>
